.header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  background: transparent;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav_link {
  display: flex;
  gap: 30px;
  color: inherit !important;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.route_link {
  color: white;
}

.route_link:hover {
  color: rgb(189, 186, 186);
}

.teamIcon {
  font-size: 26px;
  margin-right: 12px;
}

.authBtn {
  font-size: 16px;
}


